body {
    background-color: rgb(192,192,188);
}

.body {
    width: 21cm;
    height: 29.7cm;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #F9F9F9;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.header {
    display: flex;
    margin: 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.header h1 {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    color: black;
    text-align: left;
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 50px;
}

.header p {
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-weight: 300;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
    margin-left: 50px;
}

.sort-information {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: #DAFDFF;
    padding: 15px;
    border-radius: 20px;
}

.sort-information-item {
    margin: 0 10px;
    display: inline;
}

.sort-information-item:last-child, .sort-information-item:nth-child(5) {
    margin-top: 20px;
}

.sort-information-item i {
    padding: 10px;
    border-radius: 50%;
    color: white;
    background-color: #51C2D5;
}

.sort-information-item:last-child i {
    padding: 10px 12px;
}

.sort-information-item span {
    margin-left: 3px;
    color: black;
}

.information {
    margin: 40px 20px 0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.information-item {
    flex: 50%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.information-item p {
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    display: block;
}

.education i {
    color: white;
    background-color: #51C2D5;
    border-radius: 50%;
    padding: 12px 10px;
}

.before-title {
    display: inline-block;
    width: 3px;
    height: 40px;
    background-color: #51C2D5;
    margin-right: 10px;
    position: absolute;
}

.title {
    height: 30px;
    display: inline-block;
    width: 50%;
    margin-left: 6px;
    padding: 5px 120px 5px 10px;
    background-color: #51C2D5;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: white;
}

.skill h1 {
    margin-left: 5px;
}

.hobby h1 {
    margin-left: 5px;
}

.other h1 {
    margin-left: 5px;
}

.education table {
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
}

.education table tr td {
    padding-bottom: 5px;
}

.education table tr td:first-child {
    width: 100px;
    display: inline-block;
}

.education table tr td:last-child {
    padding-left: 15px;
    text-align: left;
}

.education tr td:last-child span {
    font-weight: 400;
}

.project h1 {
    margin-bottom: 10px;
}

.project a:first-child {
    margin-top: 20px;
}

.project a {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.project a:hover {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-decoration:underline;
}

.project p {
    margin-top: 0px;
    font-weight: 400;
}

.other span {
    margin-left: 20px;
    margin-right: 40px;
    display: block;
}